body {
    padding: 0;
    margin: 0;
}
main {
    padding: 0;
    margin: 0;
}
.page1 {
    margin: 0;
    background: blanchedalmond;
    height: max(70vh, 400px);
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
}
.page2 {
    height: 100vh;
    color: black;
    background: honeydew;
}

.page3 {
    height: 100vh;
    color:#181717;
    background: lavender;
}
.page4 {
    height: 32px;
    color: #181717;
    background: rgba(128, 127, 127, 0.85);

    display: flex;
    justify-content:center ;
    align-items: center;
    position: fixed;
    bottom:0;
    width: 100%;
}
h1 {
    margin: 1.25rem;
    font-family: Arial, sans-serif;
    font-weight: 600;
    font-size: 5rem;
    color: #181717;
}

h2 {
    margin: 0;
    font-family: Arial, sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    color: #181717;
}


body::-webkit-scrollbar {
    width: 0.625rem;
}

body::-webkit-scrollbar-track {
    background: #b9b9b9;
}

body::-webkit-scrollbar-thumb {
    background-color: #727272;
    border-radius: 0.5rem;
    border: 0.125rem #b9b9b9 solid;
}


.title-container {
    width: 100%; text-align: center;    font-family: Arial, sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: #181717; padding-top: 30px
}


.page4 button {
    background: transparent;
    border: none;
    font-size: 16px;
    font-weight: 0;
    padding-left: 4rem;
    padding-right: 4rem;
    width: 20rem;
    text-align: center;
    color: #f5f5ff;

}