body {
    padding: 0;
    margin: 0;
}
main {
    padding: 0;
    margin: 0;
}
.page1 {
    margin: 0;
    background: blanchedalmond;
    height: max(70vh, 400px);
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
}
.page2 {
    height: 100vh;
}
h1 {
    margin: 1.25rem;
    font-family: Arial, sans-serif;
    font-weight: 600;
    font-size: 5rem;
    color: #181717;
}

h2 {
    margin: 0;
    font-family: Arial, sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    color: #181717;
}


body::-webkit-scrollbar {
    width: 0.625rem;
}

body::-webkit-scrollbar-track {
    background: #b9b9b9;
}

body::-webkit-scrollbar-thumb {
    background-color: #727272;
    border-radius: 0.5rem;
    border: 0.125rem #b9b9b9 solid;
}
